.about-container {
	p {
		color: white;
		font-size: 1.4em;
	}
}

.about-img_container {
	display: flex;
	justify-content: center;
	align-items: center;
	&.orange {
		background-color: rgba(255, 68, 0, 0.8);
		backdrop-filter: blur(3.7px);
	}
	&.black {
		background-color: rgba(238, 231, 226, 0.5);
		backdrop-filter: blur(3.7px);
	}
	img {
		width: 100%;
		object-fit: cover;
	}
}
