html {
  font-size: 1em;
}

$font-primary: 'Roboto', sans-serif;

.nav {
  display: flex;
  justify-content: flex-end;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.7px);
  margin-bottom: 20px;
  height: 75vh;
  width: 100%;
  h1 {
    font-size: 20px;
    font-family: $font-primary;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5);
  }
  img {
    width: 100%;
  }
}

.footerLogo {
  width: 75px;
  height: 25px;
  cursor: pointer;
}

// Sets Material-UI Grid items above ParticleBackground
.MuiGrid-item {
  z-index: 100;
}

.card-container {
  margin-top: 20px;
}

.card-item_container {
  overflow: hidden;
}

.cards {
  height: 350px;
  .card-img {
    height: 250px;
  }
}

.why-container {
  background-color: rgba(255, 68, 0, 0.8);
  backdrop-filter: blur(3px);
  width: 100%;
  .why-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    p {
      color: black;
      font-size: 2.5em;
      font-weight: bold;
    }
  }
  p {
    padding: 10px;
    font-size: 1.7em;
    color: black;
  }
}

.why-img_container {
  max-width: 250px;
  img {
    width: 100%;
  }
}

.about-container {
  p {
    color: white;
    font-size: 1.4em;
  }
}

.about-img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  &.orange {
    background-color: rgba(255, 68, 0, 0.8);
    backdrop-filter: blur(3.7px);
  }
  &.black {
    background-color: rgba(238, 231, 226, 0.5);
    backdrop-filter: blur(3.7px);
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1015px) {
  .nav {
    display: none;
  }
}

@media only screen and (min-width: 1016px) {
  .MuiIconButton-root {
    display: none !important;
  }
}
// Lazy Images:
// .wrapper {
//   position: relative;
//   overflow: hidden;
//   img {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     object-fit: cover;
//     object-position: center;
//   }
//   .source {
//     opacity: 0;
//     transition: opacity 1s;
//   }
//   .loaded {
//     opacity: 1;
//   }
// }

// .test-img {
//   width: 100%;
// }

// Frosted Glass:
.frosted {
  padding: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.7px);
}
